*.o
*~
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.aux
config.h
config.h.in
config.log
config.status
configure
debian/*.debhelper
debian/*.log
debian/*.substvars
debian/files
debian/mrtgdf
debian/substvars
src/mrtgdf
stamp-h1
